body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

/* @media screen and (min-width: 800px) {
    
    body {
        background-color: skyblue;
        font-size: x-large;
        margin: 20px;
    }

    .figure-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .figure-container figure {
        flex-grow: 1;
    }
} */

@media screen and (max-width: 1300px) {
  body {
      background-color: white;
      font-size: 28px;
      margin: 20px;
      max-width: 950px;
  }
}